[submodule "external_libraries/enet"]
	path = external_libraries/enet
	url = https://github.com/zpl-c/enet
[submodule "organizational_tools"]
	path = organizational_tools
	url = git@github.com:opengl-toolbox/organizational_tools.git
[submodule "client/scripts"]
	path = client/scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "client/client_networking"]
	path = client/src/client_networking
	url = git@github.com:cpp-toolbox/client_networking.git
[submodule "server/server_networking"]
	path = server/src/server_networking
	url = git@github.com:cpp-toolbox/server_networking.git
[submodule "server/scripts"]
	path = server/scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "client/src/fixed_frequency_loop"]
	path = client/src/fixed_frequency_loop
	url = git@github.com:cpp-toolbox/fixed_frequency_loop.git
[submodule "client/src/stopwatch"]
	path = client/src/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git
[submodule "server/src/fixed_frequency_loop"]
	path = server/src/fixed_frequency_loop
	url = git@github.com:cpp-toolbox/fixed_frequency_loop.git
[submodule "server/src/stopwatch"]
	path = server/src/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git
[submodule "client/src/packet_handler"]
	path = client/src/networking/packet_handler
	url = git@github.com:cpp-toolbox/packet_handler.git
[submodule "server/src/networking/packet_data"]
	path = server/src/networking/packet_data
	url = git@github.com:cpp-toolbox/packet_data.git
[submodule "server/src/utility/logger"]
	path = server/src/utility/logger
	url = git@github.com:cpp-toolbox/logger.git
[submodule "client/src/utility/logger"]
	path = client/src/utility/logger
	url = git@github.com:cpp-toolbox/logger.git
[submodule "client/src/utility/limited_vector"]
	path = client/src/utility/limited_vector
	url = git@github.com:cpp-toolbox/limited_vector.git
[submodule "client/src/networking/packet_data"]
	path = client/src/networking/packet_data
	url = git@github.com:cpp-toolbox/packet_data.git
[submodule "shared/fs_utils"]
	path = shared/fs_utils
	url = git@github.com:py-garden/fs_utils.git
[submodule "server/src/networking/packet_handler"]
	path = server/src/networking/packet_handler
	url = git@github.com:cpp-toolbox/packet_handler.git
